[Unit]
Description=Fast DEILabs automatic login service

[Service]
ExecStart=/usr/local/bin/fast_deilabsd
Restart=on-failure
User=nicola

[Install]
WantedBy=multi-user.target
